<div th:fragment="cabecera">
	<header>
		<div id="header_izq">
			<img th:src="@{/images/PipoMimido.jpg}" alt="Imagen Izquierda" style="width: 120px; height: auto;">
		</div>
		<h1>Wilf Life Pipo</h1>
		<div id="header_izq">
			<img th:src="@{/images/PipoMimido.jpg}" alt="Imagen Izquierda" style="width: 120px; height: auto;">
		</div>

	</header>


</div>

<div th:fragment="navegador">

	<nav>
		<ul>
			<li>
				<a href="menu_inicio" class="enlace_menu">Inicio</a>
			</li>
			<li>
				<a href="menu_perros" class="enlace_menu">Perros</a>
			</li>
			<li>
				<a href="menu_gatos" class="enlace_menu">Gatos</a>
			</li>
			<li>
				<a href="menu_conejos" class="enlace_menu">Conejos</a>
			</li>
			<li>
				<a href="menu_pajaros" class="enlace_menu">Pájaros</a>
			</li>
			<li>
				<a href="menu_tortugas" class="enlace_menu">Tortugas</a>
			</li>
			<li>
				<a href="administracion" class="enlace_menu">Administración</a>
			</li>
		</ul>
	</nav>

</div>

<div th:fragment="footer">
	<footer>

		<div class="content_footer">
			Diseñado por La Mózah
		</div>
</div>

</footer>
</div>