.contenedor_grid {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr;
 gap: 10px 10px;
 grid-auto-flow: row;
}

article{
	background-color: var(--fondoClaro);
    padding: var(--paddingGeneral);
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}