<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/styles.css}">
	<link rel="stylesheet" th:href="@{/styles_grid.css}">
	<title>Bar Pipo - Sistema de Gestión</title>
</head>

<body>

	<div th:include="plantilla.html::cabecera"></div>

	<div th:include="plantilla.html::navegador" id="navegador"></div>


	<main>
		<section class="productos">

			<h2>Productos</h2>

			<section class="contenedor_grid">


				<a th:each="elemento : ${atr_lista_productos}" th:href="@{/agregarAlTicket/{id}(id=${elemento.id})}">
					<article>
						<img th:src="@{/images/{foto}(foto=${elemento.foto})}" alt="Foto del producto" height=""
							width="150px" />
						<h3 th:text="${elemento.nombre}"></h3>
						<p th:text="${'Precio: ' + elemento.precio} + ' €'"></p>
						<p th:text="${'IVA: ' + elemento.iva + '%'}"></p>
					</article>
				</a>

			</section>

		</section>

		<div class="separator"></div>

		<section class="vista-previa">
			
			<div>
				<a th:href="@{/agregarTicket}">Aceptar</a>
				<a th:href="@{/cancelarTicket}">Cancelar</a>
			</div>
			<div>
				<img src="images/pipo.png" alt="Logo Bar Pipo" width="100" height="100">
			</div>
			<div>
				<h2>Bar Pipo</h2>
				<p>Calle Pipillo Nº2</p>
				<p>CIF: 023309021 - IVA incluido</p>
				<p>Factura Simplificada</p>
				<p>Número de Factura: <span th:text="${atr_ultimoId}"></span></p>
				<p id="fecha-hora">Fecha y Hora</p>
				<table>
					<tr th:each="elemento : ${atr_datos_en_sesion}">
						<td th:text="${elemento.key.nombre}"></td>
						<td th:text="${elemento.key.precio}+ ' €'"></td>
						<td th:text="${'x' + elemento.value}"></td>
					</tr>
				</table>

			</div>
		</section>
	</main>

	<div th:include="plantilla.html::footer"></div>

	<script>
		// Obtener la fecha y hora actual
		var fechaHora = new Date();

		// Formatear la fecha y hora según el formato deseado
		var formatoFechaHora = fechaHora.getDate().toString().padStart(2, '0') + '/' +
			(fechaHora.getMonth() + 1).toString().padStart(2, '0') + '/' +
			fechaHora.getFullYear() + ' ' +
			fechaHora.getHours().toString().padStart(2, '0') + ':' +
			fechaHora.getMinutes().toString().padStart(2, '0');

		// Insertar la fecha y hora en el elemento con id "fecha-hora"
		document.getElementById('fecha-hora').innerText = formatoFechaHora;
	</script>



</body>

</html>