* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: 'Chicken';
	src: url('../fonts/ChickenMarket.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto.ttf') format('truetype');
}

body {
	font-family: 'Roboto';
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: #fefae0;
	color: #d4a373;
}

header {
	background: #ccd5ae;
	color: #6b705c;
	font-family: 'Chicken';
	text-align: center;
	padding: 20px;
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.5em;
	background-size: 1400% 100%;
	font-size: 30px;
}


/* PARA EL NAV */

nav {
	background-color: #e9edc9;
	padding: 20px;
}

ul {
	list-style-type: none;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

li {
	margin-right: 15px;
}

a {
	text-decoration: none;
	color: #d4a373;
	font-weight: bold;
	font-size: 16px;
	transition: color 0.3s ease;
	font-size: 20px;
}

a:hover {
	color: #7f5539;
}

/**/

main {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	display: flex;
	width: 100%;
	flex-grow: 1;
}

form {
	background-color: #f5ebe0;
	padding: 20px;
	border-radius: 8px;
	max-width: 500px;
	width: 100%;
	border: 5px solid transparent;
	border-color: #d5bdaf;

}


h2 {
	text-align: center;
	margin-bottom: 20px;
	color: #6b705c;
}

label {
	display: block;
	margin-bottom: 8px;
	font-weight: bold;
	color: #6b705c;
}

input,
select {
	width: 100%;
	padding: 10px;
	margin-bottom: 16px;
	border: 1px solid #ddbea9;
	border-radius: 4px;
	box-sizing: border-box;
	background-color: #ffe8d6;
	color: #000;

}

button {
	background-color: #ddbea9;
	color: #000;
	border: none;
	padding: 12px;
	width: 100%;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

button:hover {
	background-color: #cb997e;
}

.button-container {
	text-align: center;
}

table {
    width: 50%;
    border-collapse: collapse;
}

thead {
    background-color: #CCD5AE; 
    color: #6b705c;
}

th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #d5bdaf; 
}

tbody {
    background-color: rgb(255, 253, 240); 
}


footer {
	background-color: #faedcd;
	color: #d4a373;
	text-align: center;
	padding: 10px;
	flex-shrink: 0;
}