:root{
 --alturaCabecera:120px;
 --paddingGeneral:10px;
 --alturaPie:60px;
 --alturaMenu:50px;
 --anchuraElemMenu:200px;

 --sizeFuenteMenu:22px;

--colorPrincipal:#bd5987;
--colorPrincipalClaro:#eda1c7;
--colorPrincipalOscuro:#9c4562;

--colorContraste:#e2d380;
--colorContrasteOscuro:#2c3a79;
--colorContrasteClaro:#86a5df;

--fondoClaro: #e2c3cb;
--fondoOscuro: #b19ca4;

--fuenteArial:"Arial";
--fuenteSans:"sans-serif";
--fuenteHelvetica: "Helvetica";


}


*{
    margin:0;
    padding:0;

    font-family: var(--fuenteArial);
}

/* Estilos de la cabecera */
header{
    height:var(--alturaCabecera);

    background-color: var(--colorPrincipal);
    padding: var(--paddingGeneral);

    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;


}

#header_izq{
    width:100%;
}


#header_der{
   
    width:200px;
    
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;

}

#header_der img{

    padding-left: var(--paddingGeneral);


}

h1{
   color: var(--colorPrincipalClaro); 
}


/*estilos de la barra de menu*/

nav{
background-color:var(--colorPrincipalClaro);

}


nav ul{
   
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;

   
}


nav ul li{
    list-style: none;
   
}


nav ul li a{
    display: inline-block;

    width:200px;
    height:50px;

    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    font-weight: bolder;
    font-size:var(--sizeFuenteMenu);
    color:var(--colorPrincipalOscuro);

}

.enlace_menu{
    display: inline-block;

    width:var(--anchuraElemMenu);
    height:var(--alturaMenu);

    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    font-weight: bolder;
    font-size:var(--sizeFuenteMenu);
    color:var(--colorPrincipalOscuro);

}

.enlace_menu:hover{
    background-color: var(--colorContraste);
    color: var(--colorPrincipalOscuro);
}

.enlace_menu:activew{
    background-color: var(--colorContrasteOscuro);
    color: var(--colorPrincipalClaro);
}

main{
    background-color: var(--fondoOscuro);
    padding: var(--paddingGeneral);
    min-height: calc(100vh - (var(--alturaCabecera) + var(--alturaPie) + var(--alturaMenu) + calc(4 * var(--paddingGeneral))));
}

section{
    background-color: var(--fondoClaro);
    padding: var(--paddingGeneral);
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

footer{
    background-color: var(--colorPrincipal);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_footer{
	font-size: 22px;
    color: aliceblue;
}